body {
  margin: 0;
}

section {
 margin-top: 10%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

form {
  margin-bottom: 5%;
  width: 80%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.imagenInicio {
  width: 400px;
}

article {
  text-align: center;
}
